nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:black;
    color:white;

}
.meat{
    flex-direction: column;
}
ul{
    display:flex;
    gap:1cm;
    list-style:square;
    
}